spring:
  application:
    name: veritas
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    defer-datasource-initialization: false
  sql:
    init:
      mode: never

logging:
  pattern:
    console: "[%d{HH:mm:ss.SSS}][%-5level][%logger.%method:line%line] - %msg%n"
  level:
    root: INFO

server:
  servlet:
    session:
      timeout: 24h
      cookie:
        same-site: none
        secure: true